* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }

  
  /* .bookmark-item {
    width: 700px;
  } */
  
 /* .container {
    max-width: 900px;
    margin: 0 auto;
  }  */
  
  .bookmark-list {
    list-style: none;
    padding-left: 0;
  }
  
  /* .bookmark-list > li {
    margin-bottom: 20px;
    border: 1px solid grey;
    padding: 20px;
  } */
  
  .bookmark-item {
    display: block;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  